* {
    box-sizing: border-box;
}

body {
    background-color:azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

h1 {
    margin-block:10px;
}

.btn-new {
    margin-block:10px;
    background-color:#66FF99;
}

table {
    border-collapse: collapse;
}

thead {
    background-color: #D0D0D0;
}

th,
td {
    /* border: 1px solid; */
    border-radius:2px;
    outline: 0.5px solid rgba(0, 0, 0, 0.3);
    padding: 3px 10px;
}

tr:nth-of-type(even) {
    background-color: #E8E8E8;
}

.btn {
    border-radius: 5px;
    border: .2px solid rgba(0, 0, 0, 0.2);
}

.btn-read {
    background-color: #51BCF1;
}

.btn-update {
    background-color: #F4C74D;
}

.btn-delete {
    background-color: #FF5622;
}